<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Max speed:</strong>
  <%= @car.max_speed %>
</p>

<p>
  <strong>Boost:</strong>
  <%= @car.boost %>
</p>

<p>
  <strong>Power:</strong>
  <%= @car.power %>
</p>

<p>
  <strong>Powerdensity:</strong>
  <%= @car.powerdensity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @car.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @car.weight %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @car.photo_url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @car.content %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
